@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-success: var(--success);
  --color-border: var(--border);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(230, 25%, 10%);
    --foreground: hsl(230, 20%, 15%);
    --card: hsl(230, 25%, 18%);
    --primary: hsl(265, 90%, 65%);
    --secondary: hsl(310, 90%, 65%);
    --primary-text: hsl(210, 20%, 98%);
    --secondary-text: hsl(215, 15%, 70%);
    --warning: hsl(45, 100%, 60%);
    --error: hsl(0, 95%, 65%);
    --success: hsl(150, 90%, 45%);
    --border: hsl(230, 20%, 25%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
